.sobre-mim
  width: 100%
  // display: flex
  // flex-direction: column
  // justify-content: end
  // border: $border-test
  h2 
    text-align: center
    color: $text-color-b
    font-size: 2rem
    padding-top: 60px
    margin-bottom: 50px
    border-top: 0.3px solid white
  p
    text-align: start
    font-weight: 500
    font-size: 1.3rem
    margin-bottom: 25px
    color: $text-color-w