.rodape 
  display: flex
  justify-content: space-around
  align-items: center
  border-top: solid 1px white
  background-color: transparentize
  position: relative
  bottom: 0
  width: 90vw
  margin: 0 auto
  padding: 25px 0

  @include mobile
    &-icones
      display: flex
      flex-direction: column

  &-contato
    color: $text-color
    font-size: 1rem

  &-icones
    display: flex
    align-items: center
    gap: 8px
    width: 50px

    .icone-github
      width: 50px 
    .icone-linkedin
      width: 45px 
      height: 45px 