.projetos
  border-top: 0.3px solid white
  width: 100%
  padding-top: 40px
  margin-bottom: 200px

  &-titulo
    text-align: center
    color: $text-color-b
    font-weight: 700
    font-size: 1.8rem
    padding-bottom: 100px

  &-carrossel
    border: solid 1px white
    width: 400px
    height: 500px
    margin: 0 auto

    @include mobile
      width: 300px
      height: 400px
