@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  /* background-color: #0093E9; */
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
/* -------- CABEÇALHO ------------------------------------------------------------------ */
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 18px;
  background-color: rgb(74, 74, 77);
  position: sticky;
  top: 0;
  border-bottom: 1.5px solid rgb(248, 243, 243);
  margin-bottom: 20px;
}

.navegacao {
  display: flex;
  gap: 32px;
}

.navegacao-item {
  font-family: 'Open Sans', sans-serif;
  color: aliceblue;
}

.navegacao-item:hover {
  cursor: pointer;
  text-decoration: underline  5px;
}

/* --------- CAONTEUDO PRINCIPAL ----------------------------------------------------------- */
.conteudo-principal {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}

.container-conteudo-texto {
 display: flex;
 flex-direction: column;
 gap: 32px;
}



.conteudo-principal-nome {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: aliceblue;
}

.conteudo-principal-intro {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: aliceblue;
}

.conteudo-principal-botao {
  width: 180px;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: rgb(66, 64, 64);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.678);
}
.conteudo-principal-botao:hover {
  background-color: rgb(78, 74, 74);
  color: blanchedalmond;
  cursor: pointer;
} 

.conteudo-principal-img {
  border-radius: 250px 30px 30px 100px;
} 

/* ------ CONTEUDO SECUNDARIO ------------------------------------------------------------- */
.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin-top: 40px;
  margin-bottom: 100px;
  height: 50vh;
}

.conteudo-secundario-titulo {
  border-top: 0.3px solid white;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: aliceblue;
  margin-bottom: 10px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: aliceblue;

}

/* ------ RODAPE ----------------------------------------------------------- */

.rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 2px rgb(74, 74, 77);;
  background-color: rgb(103, 143, 175);
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icones-rodape {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 50px;
}
.icone-github {
  width: 50px 
}
.icone-linkedin {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 700px) {
  .container-conteudo-texto {
    padding-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .conteudo-secundario-titulo {
    margin-left: 50px;
  }
}


/* @media screen and (max-width: 425px) {
  .rodape {
      
  }

  .icones-rodape {
    display: flex;

  }

  .icone-github {
    width: 40px; 
    margin-top: 10px;
  }
  .icone-linkedin {
    width: 35px;
    height: 35px;
  }

} */
